*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Raleway', sans-serif;
    font-size: 62,5%;
}

body{
  background-image:linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)), 
  url(../imagenes/gimnasio.jpg);
  background-blend-mode: multiply,multiply;
  background-position: center;
  background-size: cover;

}
/* Header */
header {

    width: 100%;
    overflow: hidden;
}
.navbar a{
    font-family: 'Raleway', sans-serif;
    color: #fff;
}


.navbar{
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-nav .nav-link {
    position: relative;
}

.logo{
    height: 40px;
}
.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FF0000;
    transition: width 0.3s ease;
    transform: scaleX(0);
    transform-origin: left;
}

.navbar-nav .nav-link:hover::before {
    width: 100%;
    transform: scaleX(1);
}


.classes{
    height: calc(100vh - 60px);
}
.classes__container{
    display: grid;
    grid-template-columns: repeat(3, 25%);
    gap: 30px;
    height: inherit;
    justify-content: space-around;
    padding: 20px 0;
    align-items: center;
    transition: all 0.5;
}

.card{
    border: none;
    
}

.card:hover{
    transform: scale(1.1);
}

.card-body h3{
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.card img{
    height: 130px;
    
}
.card-body{
    background-color: #AF0404;
    height: auto;
}

.btn-primary{
    background-color: #252525;
    border: 1px solid #252525;
    font-family: 'Raleway', sans-serif;
}



/* HORARIOS */
.schedules{
    margin: 0 auto;
    background-color: #414141;
}
.schedules__container{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.schedules__texts{
    width: 90%;
    display: flex;
    justify-content: center;
    height: auto;
    padding: 10px 0;
}

.schedules__title{
    color: #FFF;
    font-weight: 700;
    align-self: center;
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    padding: 0 10px;
} 

.schedules__img{
    height: 60px;
    padding: 0 10px;
}

.schedules__table{
    border-collapse: collapse;
    width: 90%;
    margin: 0px auto;
    padding: 10px 0;
  }
  
.schedules__table-header{
      background-color: #252525;
      width: 100px;
      color: #fff;
      padding: 2px;
      font-family: 'Raleway', sans-serif;
}

.schedules__table tr,
  td {
    border: 2px solid #252525;
    padding: 2px;
    text-align: center;
    background-color: #AF0404;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    width: auto;
  }



.schedules__table-texts{
    width: 100%;
    /* margin: 20px auto; */
    color: #fff;
    display: flex;
    font-family: 'Raleway', sans-serif;
    
}


/* FOOTER */
.footer{
    background-color: #252525;
    height: 80px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.footer p{
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
}


/* Estilos para enlaces solo en el tamaño sm */

@media only screen and (max-width: 993px){
    .classes{
        height: auto;
    }
    .classes__container{
        display: grid;
        grid-template-columns: repeat(2, 35%);
        gap: 30px;
        height: inherit;
        justify-content: space-around;
        padding: 20px 0;
        align-items: center;
        transition: all 0.5;
    }
    .schedules__title{
        font-size: 2rem;
    }
    .schedules__img{
        height: 50px;
    }
}

@media only screen and (max-width:768px){
    
    .classes__container{
        display: grid;
        grid-template-columns:1fr;
       

    }
    .schedules__title{
        font-size: 1.5rem;
    }
    .card{
        width: 45%;
        margin: 0 auto;
    }

    .schedules__table{
        width: 100%;
    }
}
@media (max-width: 576px) {
    
    .navbar-nav .nav-link {
        text-align: center;
    }

    .navbar-nav .nav-link:hover{
        background-color: #FF0000;
    }

    .card{
        width: 50%;
    }

    .card img{
    height: 120px;
    }

    .card-title{
    font-size: 1.2rem;
    width: 100%;
    
    }

    .schedules__title{
        font-size: 1rem;
    }

    .schedules__img{
        height: 35px;
    }
    .schedules__table-header{
        padding: 1px;
        font-family: 'Raleway', sans-serif;
        font-size: 0.7rem;
    }

    .schedules__table tr,
    td {
    padding: 1px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
    
    }
    .schedules__table-texts{
        width: 100%;
        /* margin: 20px auto; */
        color: #fff;
        display: flex;
        font-family: 'Raleway', sans-serif;
        
    }
    .footer p{
        font-size: 0.7rem;
    }

}