* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 62, 5%;
  scroll-behavior: smooth;
}

/* Header */
.header {
  width: 100%;
  height: 64px;
  background: #252525;
}

.navbar a {
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.navbar {
  background: rgba(0, 0, 0, 0.6);
}

.navbar-nav .nav-link {
  position: relative;
}

.logo {
  height: 40px;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FF0000;
  transition: width 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.navbar-nav .nav-link:hover::before {
  width: 100%;
  transform: scaleX(1);
}

/* FOOTER */
.footer {
  background-color: #252525;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.footer p {
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

/* INDEX MAIN */
/* TEXTOS MAIN */
.main {
  height: calc(100vh - 66px);
}
.main__texts {
  height: inherit;
  display: flex; /* Utiliza un contenedor flexible */
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
}
.main__title {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  font-size: 5rem;
  font-weight: 500;
  color: #fff;
  font-family: "Raleway", sans-serif;
}
.main__title span {
  color: #FF0000;
  font-family: "Raleway", sans-serif;
}
.main__paragraph {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

/* ACCEDER FORMULARIO */
/* CONTENEDOR FORMULARIO ACCEDER */
.login {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.login__title {
  font-size: 2rem;
  font-family: "Raleway";
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.login__form {
  background: rgba(0, 0, 0, 0.7);
  width: 30%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px 0;
}
.login__form label {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-size: 1rem;
  font-family: "Raleway";
  font-weight: 400;
  color: #fff;
}
.login__form input {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  font-size: 1rem;
  font-family: "Raleway";
  font-weight: 400;
  color: #fff;
}
.login__form input[type=submit] {
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  background-color: #FF0000;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: "Raleway";
  font-weight: 400;
  color: #fff;
}
.login__form input[type=submit]:hover {
  background-color: #AF0404;
}
.login__links {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.login__links a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Raleway";
  font-weight: 500;
  color: #FF0000;
}
.login__links a:hover {
  color: #FFF;
  text-decoration: underline;
}
.login p {
  display: block;
  text-align: center;
  font-size: 1rem;
  font-family: "Raleway";
  font-weight: 500;
  color: #fff;
  padding: 5px 0;
}

/* CLASES */
.intro {
  height: calc(100vh - 67px);
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../imagenes/clases.jpg);
  background-blend-mode: multiply, multiply;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
  height: 100%;
  width: 60%;
}
.intro__title {
  font-size: 4rem;
  font-family: "Raleway";
  font-weight: 700;
  color: #FF0000;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.intro__description {
  font-size: 2rem;
  font-family: "Raleway";
  font-weight: 500;
  color: #fff;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.intro .btn {
  background: none;
  border: 1px solid #FF0000;
  margin: 0 auto;
}
.intro .btn:hover {
  background-color: #FF0000;
  color: #FFF;
}

.classes {
  height: auto;
  background-color: #252525;
  width: 100%;
}
.classes__texts {
  height: 100px;
  background-color: #AF0404;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.classes__texts__title {
  font-size: 3rem;
  font-family: "Raleway";
  font-weight: 700;
  color: #fff;
}
.classes__container {
  display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-template-rows: repeat(2, 450px);
  gap: 30px;
  height: inherit;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5;
}
.classes__container .btn-primary {
  background-color: #252525;
  border: 1px solid #252525;
  font-family: "Raleway", sans-serif;
}
.classes__container .btn-primary:hover {
  background-color: #FF0000;
  border: 1px solid #FF0000;
}
.classes .card {
  border: none;
  transition: 0.3;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.classes .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.classes .card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}
.classes .card-body h3 {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.classes .card:hover .card-body {
  right: 0;
}
.classes .card-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Raleway";
  font-weight: 700;
  color: #fff;
}
.classes .card-info {
  font-size: 1.2rem;
  line-height: 25px;
  margin: 10px 0;
  font-weight: 400;
}

/* HORARIOS */
.schedules {
  margin: 0 auto;
  background-color: #414141;
}
.schedules__container {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
.schedules__texts {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  height: auto;
  padding: 10px 0;
}
.schedules__texts__img {
  height: 60px;
  padding: 0 10px;
}
.schedules__texts__title {
  color: #FFF;
  font-weight: 700;
  align-self: center;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  padding: 0 10px;
}
.schedules__table {
  border-collapse: collapse;
  width: 90%;
  margin: 0px auto;
  padding: 10px 0;
}
.schedules__table__header {
  background-color: #252525;
  width: 100px;
  color: #fff;
  padding: 2px;
  font-family: "Raleway", sans-serif;
}
.schedules__table tr, .schedules__table td {
  border: 2px solid #252525;
  padding: 2px;
  text-align: center;
  background-color: #AF0404;
  color: #fff;
  font-family: "Raleway", sans-serif;
  width: auto;
}
.schedules__table__texts {
  width: 90%;
  margin-top: 20px;
  color: #fff;
  display: flex;
  font-family: "Raleway", sans-serif;
}
.schedules__table__texts div {
  width: 50%;
}

/* NOSOTROS */
/* ACERCA DE */
.Us {
  height: calc(100vh - 66px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../imagenes/nosotros.jpg);
  background-blend-mode: multiply, multiply;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.Us__container {
  width: 70%;
  margin: 0 auto;
}
.Us__container__title {
  font-size: 6rem;
  font-weight: 700;
  color: #FF0000;
}
.Us__container__paragraph {
  margin: 20px auto;
  width: 100%;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}
.Us__container__link {
  margin: 0px auto;
  text-align: center;
  text-decoration: none;
  background-color: #AF0404;
  color: #fff;
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  font-size: 1.5rem;
}
.Us__container__link:hover {
  background-color: #FF0000;
}

#team {
  width: 100%;
  background: #414141;
  height: auto;
}
#team h2 {
  text-align: center;
  color: #F2f2f2;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 8px 0;
}

.team__texts {
  width: 100%;
  height: 80px;
  background-color: #AF0404;
}

.trainers {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  padding: 0;
}
.trainers__container {
  width: 90%;
  margin: 0 auto;
  padding: 20PX 0;
}
.trainers__container .card {
  width: 65%;
  margin: 0 auto;
  border: none;
  box-shadow: 9px 23px 25px 7px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.trainers__container .card img {
  width: 100%;
  height: 140px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.trainers__container .card-body {
  background-color: #AF0404;
  color: #fff;
  height: 130px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.trainers__container .card-body:hover {
  background-color: #252525;
  color: #FF0000;
}
.trainers__container .card-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  width: 100%;
}
.trainers__container .card p {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
}

/* FORMULARIO REGISTRO */
.registration {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: "Raleway", sans-serif;
}
.registration__form {
  background: rgba(0, 0, 0, 0.7);
  width: 35%;
  margin: 0 auto;
  border-radius: 10px;
}
.registration__form__h1 {
  color: #FFF;
  text-align: center;
  font-size: 2rem;
  padding: 10px 0;
}
.registration__form label {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  color: #fff;
}
.registration__form input {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  font-size: 1rem;
}
.registration__form input[type=submit] {
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  background-color: #FF0000;
  border-radius: 10px;
  font-size: 18px;
}
.registration__form input[type=submit]:hover {
  background-color: #AF0404;
}

@media only screen and (max-width: 1400px) {
  .Us__container {
    padding: 10px 0;
    overflow: hidden;
  }
  .Us__container__title {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
  }
  .Us__container__paragraph {
    font-size: 1.8rem;
  }
  .Us__container__link {
    padding: 5px;
    font-size: 1.3rem;
  }
  .classes__container .card {
    width: 90%;
  }
}
@media only screen and (max-width: 991px) {
  .main__title {
    width: 70%;
    font-size: 3.5rem;
  }
  .main__paragraph {
    font-size: 1.5rem;
  }
  .intro__container {
    height: 100%;
    width: 100%;
  }
  .intro__title {
    font-size: 4rem;
    font-family: "Raleway";
    font-weight: 700;
    color: #FF0000;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .intro__description {
    font-size: 2rem;
    font-family: "Raleway";
    font-weight: 500;
    color: #fff;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .classes {
    height: auto;
  }
  .classes__container {
    display: grid;
    grid-template-columns: repeat(2, 35%);
    gap: 30px;
    height: inherit;
    justify-content: space-around;
    padding: 20px 0;
    align-items: center;
    transition: all 0.5;
  }
  .schedules__texts__title {
    font-size: 2rem;
  }
  .schedules__texts__img {
    height: 50px;
  }
  .Us__container {
    width: 100%;
  }
  .Us__container__title {
    font-size: 3rem;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
  }
  .Us__container__paragraph {
    margin: 20px auto;
    width: 90%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
  }
  .Us__container__link {
    padding: 3px;
    font-size: 1.2rem;
  }
  .trainers {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
  }
  .trainers__container .card {
    width: 70%;
    margin: 0 auto;
  }
  .trainers__container .card-body {
    height: 95px;
  }
  .trainers__container .card-title {
    font-size: 1.3rem;
  }
  .registration__form {
    width: 50%;
  }
  .login__form {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .main__title {
    font-size: 3rem;
  }
  .main__paragraph {
    font-size: 1.3rem;
  }
  .classes__texts__title {
    font-size: 2.5rem;
  }
  .classes__container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .classes__container .card {
    width: 50%;
    margin: 0 auto;
  }
  .schedules__texts__title {
    font-size: 1.5rem;
  }
  .schedules__table {
    width: 100%;
  }
  .trainers {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .trainers__container .card {
    width: 40%;
    margin: 0 auto;
  }
  .trainers__container .card .card-title {
    font-size: 1.1rem;
  }
  .trainers__container .card p {
    font-size: 1rem;
  }
  .registration__form {
    width: 60%;
  }
  .login__form {
    width: 60%;
  }
}
@media (max-width: 576px) {
  .navbar-nav .nav-link {
    text-align: center;
  }
  .navbar-nav .nav-link:hover {
    background-color: #FF0000;
  }
  .main__title {
    width: 75%;
    font-size: 2.3rem;
  }
  .main__paragraph {
    font-size: 1rem;
  }
  .card {
    width: 50%;
  }
  .card img {
    height: 120px;
  }
  .card .card-title {
    font-size: 1.2rem;
    width: 100%;
  }
  .classes__texts__title {
    font-size: 2rem;
  }
  .schedules__texts__title {
    font-size: 1rem;
  }
  .schedules__texts__img {
    height: 35px;
  }
  .schedules__table__header {
    padding: 1px;
    font-family: "Raleway", sans-serif;
    font-size: 0.7rem;
  }
  .schedules__table tr,
  td {
    padding: 1px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 0.7rem;
  }
  .schedules__table__texts {
    font-size: 0.7rem;
  }
  #team h2 {
    font-size: 2rem;
  }
  .Us__container__title {
    font-size: 2rem;
  }
  .Us__container__paragraph {
    font-size: 1rem;
  }
  .trainers__container .card .card-body {
    height: 90px;
  }
  .trainers__container .card .card-body .card-title {
    font-size: 0.9rem;
  }
  .trainers__container .card .card-body p {
    font-size: 0.8rem;
  }
  .registration__form {
    width: 80%;
  }
  .login__form {
    width: 75%;
  }
  .footer p {
    font-size: 0.7rem;
  }
}

/*# sourceMappingURL=style.css.map */
