
/* ACCEDER FORMULARIO */


/* CONTENEDOR FORMULARIO ACCEDER */

.login{
    height: inherit;
    background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../imagenes/gimnasio.jpg);
    background-blend-mode: multiply, multiply;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @include flexbox(column, center, center,nowrap, 0);
    
    &__title{
        @include fonts(2rem, 'Raleway', 700, #fff);
        text-align: center;
       
    }

    &__form{
        background: rgba(0, 0, 0, 0.7);
        width: 25%;
        margin: 0 auto;
        height: 400px;
        border-radius: 10px;
        padding: 10px 0;

        & div{
            margin-top: 30px;
        }

        & label{
            display: block;
            width: 80%;
            margin: 0 auto;
            text-align: left;
            @include fonts(1rem, 'Raleway', 400, #fff);
        }

        & input{
            display: block;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 30px;
            @include fonts(1rem, 'Raleway', 400, #fff);
            
        }

        & input[type="submit"]{
            border: none;
            outline: none;
            height: 40px;
            color: #fff;
            background-color: $red;
            border-radius: 10px;
            @include fonts(1.2rem, 'Raleway', 400, #fff);

            &:hover{
                background-color: $dark-red;
            }
        }

        
    }


    &__links{
        width: 80%;
        margin: 0 auto;
        @include flexbox(column, center,center,nowrap, 0);

        & a{
            display: block;
            text-align: center;
            text-decoration: none;
            @include fonts(1rem, 'Raleway', 500, $red);
            

            &:hover{
                color: #FFF;
                text-decoration: underline;
            }
        }

    }
    

    & p{
        display: block;
        text-align: center;
        @include fonts(1rem, 'Raleway', 500, #fff);
        padding: 5px 0;
    }


}





