/* CLASES */
.classes{
    height: calc(100vh - 66px);

    &__container{
        display: grid;
        grid-template-columns: repeat(3, 25%);
        gap: 30px;
        height: inherit;
        justify-content: space-around;
        padding: 20px 0;
        align-items: center;
        transition: all 0.5;

        & .btn-primary{
            background-color: #252525;
            border: 1px solid #252525;
            font-family: 'Raleway', sans-serif;

            &:hover{
                background-color: #FF0000;
                border: 1px solid #FF0000;
            }
        }

   
    }
    .card{
        border: none;
        transition: 0.3;

        & img{
            height: 130px;
        }

        &-body{
            background-color: #AF0404;
            height: auto;
            font-family: 'Raleway', sans-serif;
            
            & h3{
                font-weight: 500;
                font-family: 'Raleway', sans-serif;
            }
        }

       
    }

    .card:hover{
        transform: scale(1.1);
    }
}



/* HORARIOS */
.schedules{
    margin: 0 auto;
    background-color: #414141;

    &__container{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__texts{
        width: 90%;
        display: flex;
        justify-content: center;
        height: auto;
        padding: 10px 0;

        &__img{
            height: 60px;
            padding: 0 10px;
        }

        &__title{
            color: #FFF;
            font-weight: 700;
            align-self: center;
            font-size: 3rem;
            font-family: 'Raleway', sans-serif;
            padding: 0 10px;
        }
    }

    &__table{
        border-collapse: collapse;
        width: 90%;
        margin: 0px auto;
        padding: 10px 0;

        &__header{
            background-color: #252525;
            width: 100px;
            color: #fff;
            padding: 2px;
            font-family: 'Raleway', sans-serif;
        }

        & tr, td{
            border: 2px solid #252525;
            padding: 2px;
            text-align: center;
            background-color: #AF0404;
            color: #fff;
            font-family: 'Raleway', sans-serif;
            width: auto;
        }

        &__texts{
            width: 90%;
            margin-top: 20px;
            color: #fff;
            display: flex;
            font-family: 'Raleway', sans-serif;

            & div{
                width: 50%;
            }
        }

        
    }

    
}



