/* INDEX MAIN */

/* TEXTOS MAIN */
.main{
    
    &__texts{
        background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../imagenes/gimnasio.jpg);
        background-blend-mode: multiply, multiply;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        height: calc(100vh - 66px);
        display: flex; /* Utiliza un contenedor flexible */
        flex-direction: column;
        justify-content: center; /* Centra horizontalmente el contenido */
        align-items: center; /* Centra verticalmente el contenido */
    }
    
    &__title{
        width: 40%;
        text-align: center;
        margin: 0 auto;
        font-size: 5rem;
        font-weight: 500;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        & span{
            color: $red;
            font-family: 'Raleway', sans-serif;
        }
    }

    &__paragraph{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        font-size: 2rem;
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
    }
}



