@media only screen and (max-width: 1400px){
    // NOSOTROS
    .Us__container{
        padding: 10px 0;
        overflow: hidden;

        &__title{
            font-size: 3.5rem;
            font-weight: 700;
            font-family: 'Raleway', sans-serif;
        }

        &__paragraph{
            font-size: 1.8rem;
        }

        &__link{
            padding: 5px;
            font-size: 1.3rem;
        }
    }
    // CLASES
    .classes__container__card{
        width: 90%;
    }

    .trainers__container__card{
        width: 80%;
        
        &__back__title{
            @include fonts(1.3rem, 'Raleway', 700, #fff);
        }

        &__subtitle{
            @include fonts(1.2rem, 'Raleway', 500, #fff)
        }

        &__info{
            @include fonts(1rem, 'Raleway', 400, #fff);
            width:80%;
            text-align: center;
        }
    }
  
}

@media only screen and (max-width: 991px){
    // INDEX
    .main__title{
        width: 70%;
        font-size: 3.5rem;     
    }

    .main__paragraph{
        font-size: 1.5rem;
        
    }
    
    .trainingprograms{
        &__tables__programs__name{
            @include fonts(1.8rem, 'Raleway', 700, #fff);
        }
    }
        
    
    
    
    // CLASES
    .intro__container{
        height: 100%;
        width: 100%;      
    }
    .intro__title{
        @include fonts(4rem, 'Raleway', 700, $red) ;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .intro__description{
        @include fonts(2rem, 'Raleway', 500, #fff);
        width: 100%; 
        text-align: center;
        margin: 0 auto;
    }
    .classes{
        height: auto;

       
        &__container{
            display: grid;
            grid-template-columns: repeat(2, 35%);
            gap: 30px;
            height: inherit;
            justify-content: space-around;
            padding: 20px 0;
            align-items: center;
            transition: all 0.5;
        }
    }
    .schedules__texts__title{
        font-size: 2rem;
    }

    .schedules__texts__img{
        height: 50px;
    }

    // NOSOTROS
    .Us__container{
        width: 100%;
       

        &__title{
            font-size: 3rem;
            font-weight: 700;
            font-family: 'Raleway', sans-serif;
        }

        &__paragraph{
            margin: 20px auto;
            width: 90%;
            color: #fff;
            font-size: 1.2rem;
            font-weight: 500;
            font-family: 'Raleway', sans-serif;
        }
        &__link{
            padding: 3px;
            font-size: 1.2rem;
        }
    }


    .trainers{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    
        &__container__card__back{
            &__title{
                @include fonts(1.5rem, 'Raleway', 700, #fff);
            }
    
            &__subtitle{
                @include fonts(1.3rem, 'Raleway', 500, #fff)
            }
    
            &__info{
                @include fonts(1rem, 'Raleway', 400, #fff);
                width:80%;
                text-align: center;
            }

        }
      
    }

    // REGISTRO
    .registration__form{
        width: 50%;
    }
    // ACCEDER
    .login__form{
        width: 50%;
    }

}

@media only screen and (max-width:768px){

    // INDEX
    .main__title{
        font-size: 3rem;     
    }

    .main__paragraph{
        font-size: 1.3rem;
    }
    .trainingprograms__tables{
        @include flexbox(column, space-around,center,wrap, 20px);
        &__programs{
            width: 45%;
        }
    }
    // CLASES
    .classes__texts__title{
            font-size: 2.5rem;  
    }
  
    .classes__container{
        display: grid;
        grid-template-columns:1fr;

        & .card{
            width: 50%;
            margin: 0 auto;
        }
    }
    .schedules__texts__title{
        font-size: 1.5rem;
    }
    

    .schedules__table{
        width: 100%;
    }
    
    // NOSOTROS
    .trainers{
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        &__container__card{
            width: 50%;
            margin: 0 auto;

           
        }
    }

    .registration__form{
        width: 60%;
    }

    .login__form{
        width: 60%;
    }
   
}



@media (max-width: 576px) {
    
    .navbar-nav .nav-link {
        text-align: center;

        &:hover{
            background-color: #FF0000;
        }
    }

    .main__title{
        width:75%;
        font-size: 2rem;     
    }

    .main__paragraph{
        font-size: 1rem;
    }
    .trainingprograms__title{
        @include fonts(2rem, 'Raleway', 700, #fff);
    }
    .trainingprograms__tables__programs{
        width: 75%;
        &__name{
            @include fonts(1.3rem, 'Raleway', 700, #fff);
        }
        &__price{
            @include fonts(1.1rem, 'Raleway', 500, #fff);
        }
        &__benefice{
            @include fonts(1rem, 'Raleway', 400, #fff);
        }
    }

    // CLASES
    .intro__title{
        font-size: 2rem;
    }

    .intro__description{
        font-size: 1.5rem;
    }
    
    .classes__texts__title{
        font-size: 1.5rem;
        
    }
    .classes__container .card{
        width: 80%;
        &-title{
            @include fonts(1.1rem, 'Raleway', 700, #fff);
            text-align: center;
        }
        &-info{
            @include fonts(1rem, 'Raleway', 400,#fff);
            text-align: center;
        }
    }
    .schedules__texts__title{
        font-size: 1rem;
    }

    .schedules__texts__img{
        height: 35px;
    }
    .schedules__table__header{
        padding: 1px;
        font-family: 'Raleway', sans-serif;
        font-size: 0.7rem;
    }

    .schedules__table tr,
    td {
    padding: 1px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 0.7rem;
    
    }

    .schedules__table__texts{
       font-size: 0.7rem;
    }

    // NOSOTROS
    #team h2{
        font-size: 2rem;
    }


    .Us__container__title{      
        padding-top: 30px;
        @include fonts(1.5rem, 'Raleway', 700, $red);   
    }
    
    .Us__container__paragraph{
        @include fonts(1rem, 'Raleway', 400, #fff);     
    }

    .trainers__container__card{
       width: 80%;

       &__back{
        &__title{
            @include fonts(1.2rem, 'Raleway', 700, #fff);
        }

        &__subtitle{
            @include fonts(1rem, 'Raleway', 500, #fff)
        }

        &__info{
            @include fonts(0.9rem, 'Raleway', 400, #fff);
            width:80%;
            text-align: center;
        }
       }
    }
    
    .registration__form{
        width: 80%;
    }
    .login{
     
       &__title{
        font-size: 1.5rem;
       } 
       &__form{
        width: 80%;
        height: auto;
    }
    }

 
    .footer p{
        font-size: 0.8rem;
        text-align: center;
    }

}

