/* NOSOTROS */

/* ACERCA DE */

.Us{
    
    height: calc(100vh - 66px);
    text-align: center;
    @include flexbox(column, center,center,nowrap, 0px);
    background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../imagenes/nosotros.jpg);
    background-blend-mode: multiply, multiply;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    
    &__container{
        width: 70%;
        margin: 0 auto;

        &__title{
            
            font-size: 6rem;
            font-weight: 700;
            color: $red;
        }

        &__paragraph{
            margin: 20px auto;
            width: 100%;
            color: #fff;
            font-size: 2rem;
            font-weight: 500;
        }

        &__link{
            margin: 0px auto ;
            text-align: center;
            text-decoration: none;
            background-color: $dark-red;
            color: #fff;
            padding: 10px;
            width: 120px;
            border-radius: 10px;
            font-size: 1.5rem;

            &:hover{
                background-color: $red;
            }
        }

      
    }


}


#team{
    width: 100%;
    background: $grey;
    height: auto;

    & h2{
    text-align: center;
    color: #F2f2f2;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 8px 0;
    }
}

.team__texts{
    width: 100%;
    height: 80px;
    background-color: $dark-red;
}
.trainers{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-content: center; 
    padding: 0;
        
        
        &__container{
            width: 90%;
            
            margin: 0 auto;
            padding: 20PX 0;
            
            & .card{
                width: 65%;
                margin: 0 auto;
                border: none;
                box-shadow: 9px 23px 25px 7px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
                border-radius: 10px;
            }
            & .card img{
                width: 100%;
                height: 140px;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
            & .card-body{
                background-color: $dark-red;
                color: #fff;
                height: 130px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                &:hover{
                    background-color: $black;
                    color: $red;
                }
                
            }
            
            & .card-title{
                font-family: 'Raleway', sans-serif;
                font-size: 1.3rem;
                font-weight: 700;
                width: 100%;
            }
            
            & .card p{
                font-family: 'Raleway', sans-serif;
                font-size: 1.3rem;
                
            }
        }
}




