/* NOSOTROS */

/* ACERCA DE */

.Us{
    
    height: calc(100vh - 66px);
    text-align: center;
    @include flexbox(column, center,center,nowrap, 0px);
    background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../imagenes/nosotros.jpg);
    background-blend-mode: multiply, multiply;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    
    &__container{
        width: 70%;
        margin: 0 auto;


        &__title{
            
            font-size: 6rem;
            font-weight: 700;
            color: $red;
        }

        &__paragraph{
            margin: 20px auto;
            width: 100%;
            color: #fff;
            font-size: 2rem;
            font-weight: 500;
        }

        &__link{
            margin: 0px auto ;
            text-align: center;
            text-decoration: none;
            background-color: $dark-red;
            color: #fff;
            padding: 10px;
            width: 120px;
            border-radius: 10px;
            font-size: 1.5rem;

            &:hover{
                background-color: $red;
            }
        }

      
    }


}


#team{
    width: 100%;
    background: $grey;
    height: auto;

    & h2{
    text-align: center;
    color: #F2f2f2;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 8px 0;
    }
}

.team__texts{
    width: 100%;
    height: 80px;
    background-color: $dark-red;
    @include flexbox(row, center,center,nowrap, 0)
}
.trainers{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-content: center; 
    padding: 0;
        
        
        &__container{
            width: 100%;
            margin: 0 auto;
            padding: 20PX 0;
            &__card{
                width: 300px;
                height: 300px;
                border-radius: 10px;
                margin: 0 auto;
                position: relative;

                div{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    backface-visibility: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: 1s;
                }
                &__front{
                   
                    transform: perspective(500px) rotateY(0deg);
                    
                    img{
                        height: 100%;
                        width: 100%;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                }
                &__back{
                    background-color: $black;
                    background-position: center;
                    background-size: cover;
                    @include flexbox(column, center,center,nowrap, 10px);
                    color: #fff;
                    border-radius: 10px;
                    transform: perspective(500px) rotateY(180deg);
                    
                    

                    &__title{
                        @include fonts(2rem, 'Raleway', 700, #fff);
                    }

                    &__subtitle{
                        @include fonts(1.5rem, 'Raleway', 500, #fff)
                    }

                    &__info{
                        @include fonts(1rem, 'Raleway', 400, #fff);
                        width:80%;
                        text-align: center;
                    }
                }
                &:hover{
                    .trainers__container__card__front{
                        transform: perspective(500px) rotateY(180deg);
                    }
                    .trainers__container__card__back{
                        transform: perspective(500px) rotateY(360deg);
                    }
                }

            }
            
        }
}




