/* NOSOTROS */

/* ACERCA DE */

.Us{
    
    height: calc(100vh - 66px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &__container{
        width: 70%;
        margin: 0 auto;

        &__title{
            display: inline-block;
            font-size: 5rem;
            font-weight: 700;
            color: #FF0000;
        }

        &__paragraph{
            margin: 20px auto;
            width: 100%;
            color: #fff;
            font-size: 1.5rem;
            font-weight: 500;
        }

        &__link{
            margin: 0 auto;
            text-align: center;
            text-decoration: none;
            background-color: #AF0404;
            color: #fff;
            padding: 5px;
            width: 120px;
            border-radius: 10px;
            font-size: 1rem;

            &:hover{
                background-color: #FF0000
            }
        }

      
    }


}


#team{
    width: 100%;
    background: #414141;
    height: auto;

    & h2{
    text-align: center;
    color: #F2f2f2;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 8px 0;
    }
}
.trainers{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-content: center; 
    padding: 0;
        
        
        &__container{
            width: 90%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            margin: 0 auto;
            padding: 20PX 0;
            
            & .card{
                width: 70%;
                margin: 0 auto;
                border: none;
            }
            & .card img{
                width: 100%;
                height: 130px;
            }
            & .card-body{
                background-color: #AF0404;
                color: #fff;
                height: 95px;
            }
            
            & .card-title{
                font-family: 'Raleway', sans-serif;
                font-size: 1.3rem;
                font-weight: 700;
                width: 100%;
            }
            
            & .card p{
                font-family: 'Raleway', sans-serif;
                font-size: 1rem;
                
            }
        }
}




