/* FORMULARIO REGISTRO */
.registration{
    height: 100vh;
    height: calc(100vh - 64px);
    background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../imagenes/gimnasio.jpg);
    background-blend-mode: multiply, multiply;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @include flexbox(column, center,center,nowrap, 0);

    &__form{
        background: rgba(0, 0, 0, 0.7);
        width: 35%;
        margin: 0 auto;
        border-radius: 10px;

        &__h1{
            padding: 10px 0;
            text-align: center;
            @include fonts(2rem, 'Raleway', 700, #fff);
        }
        
        & label{
            display: block;
            width: 80%;
            margin: 0 auto;
            text-align: left;
            @include fonts(1rem, 'Raleway', 400, #fff);
        }

        & input{
            display: block;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 30px;
            color: #fff;
            font-size: 1rem;
        }

        & input[type="submit"]{
            border: none;
            outline: none;
            height: 40px;
            color: #fff;
            background-color: $dark-red;
            border-radius: 10px;
            font-size: 18px;
            
            &:hover{
                background-color: $black;
                
            }
        }

        

    }
}

